.topofpage {
  display: inline-block;
  width: 100%;
  background-image: url("https://c4.staticflickr.com/4/3206/2690293890_cdacacc44c_b.jpg");
  height: 12em;
  font-family: "Arial Black", Gadget, sans-serif;
}

.topofpage h3 {
  float: left;
  font-size: 1.7em;
  padding-left: 1em;
  display: inline-block;
  color: #2E8A5C;
  text-shadow: 1px 1px #FFAD33;
}

.topofpage h1 {
  padding-top: .2em;
  display: inline-block;
  font-size: 3em;
  margin-left: 13%;
  color: #FFAD33;
}

.topofpage #dropbox {
  display: inherit;
  margin-left: 1em;
}

.topofpage,.headimage {
  content: " ";
  display: table;
  clear: both;
  float: right;
  display: inline-block;
  margin-bottom: 2em
}

body {
  background-color: #942201;
}

.grid {
  background-color: #CDC6A2;
}

li {
  list-style: none;
}

.unit-4-12 {
  width: 32%;
  float: left;
  padding-left: 1em;
}

.unit-8-12 {
  width: 62%;
  float: right;
}
