body{
  background-color: #7D6742;
}

.grid {
  $gird-width:100%;
  width: $gird-width;
  max-width: 80%;
  @extend .clearfix;
  margin: 0 auto;
  background-color: #C3BC92 ;

  .unit-span-ref {
    background-color: grey;
    outline: 1px solid purple;
    width: ($gird-width/12) * 1;
    padding-left: 2em;
    float: left;
    box-sizing: border-box;
      &:first-child{
        padding-right: 0;
      }
      .div {
        background-color: lightblue;
        padding-right: 1em;
      }
  }

  .unit-span-1 {
    width: ($gird-width/12) * 2;
    float: left;
  }

  .topofpage{
    width: ($gird-width/12);
  }
}
